[Unit]
Description=Tasks

[Service]
Type=simple
User=tasks2
Group=tasks2
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4795"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/tasks2/tasks2
ExecStart=/home/tasks2/tasks2/start.sh

[Install]
WantedBy=multi-user.target
