server {
    listen 80;
    listen [::]:80;

    server_name tasks3.zachwal.sh;

    location / {
        proxy_pass http://localhost:4796;
    }

    location /socket {
        proxy_pass http://localhost:4796;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    listen [::]:443 ssl; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/backgammon.zachwal.sh/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/backgammon.zachwal.sh/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}
