<h1>User:</h1>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>
  <li>
    <strong>Manager:</strong>
    <%= if @user.manager do @user.manager.email else "No manager" end  %>
  </li>
  <li>
    <%= link "User's Tasks", to: "/tasks/personal?user_id=#{@user.id}" %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.user_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
