<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tasks1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <%# taken from Nat Tuck's session impl: https://khoury.neu.edu/~ntuck/courses/2019/01/cs4550/notes/11-add-users/notes.html %>
      <div class="container">
        <div class="row">
          <%= if @current_user do %>
          <div class="col">
            <p class="my-3"> User: <%= @current_user.email %> </p>
          </div>
          <div class="col">
            <%= link "Logout",
                      to: Routes.session_path(@conn, :delete),
                      method: :delete,
                      class: ["my-3 align-right"] %>
          </div>
         <% else %>
          <div class="col">
           <%= form_for @conn, Routes.session_path(@conn, :create),
             [class: "form-inline"], fn f -> %>
               <%= text_input f, :email, class: "form-control" %>
               <%= submit "Login", class: "btn btn-secondary" %>
             <% end %>
           </div>
         <% end %>
         <div class="col">
           <%= link "Home", to: "/" %>
         </div>
       </div>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
