<h1>Show Task</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @task.title %>
  </li>

  <li>
    <strong>Desc:</strong>
    <%= @task.desc %>
  </li>

  <li>
    <strong>Completed:</strong>
    <%= @task.completed %>
  </li>

  <li>
    <strong>Time taken:</strong>
    <%= @task.time_taken %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.task_path(@conn, :edit, @task) %></span>
<span><%= link "Back", to: Routes.task_path(@conn, :index) %></span>
