<h1>Listing Tasks <%= if @for_user do %>for User: <%= @email %> <% end %></h1>

<%= render TasksWeb.TaskView, "task_list.html",
  conn: @conn,
  user: @for_user,
  tasks: @tasks %>

<span><%= link "New Task", to: Routes.task_path(@conn, :new) %></span>
